<html>
<title>
    <h1>Sessions#new</h1>
</title>
<script src=""></script>
<style>
    .ul-list {
        clear: both;
        display: table;
        width: 100%
    }
    
    .ul-list:after {
        content: '';
        clear: both;
        display: table
    }
    
    .ul-list li {
        margin: 0 auto;
        margin-bottom: 12px
    }
    
    .input {
        background: #fff;
        transition: all 800ms;
        width: 147px;
        border-radius: 3px 0 0 3px;
        font-family: 'Ropa Sans', sans-serif;
        border: solid 1px #ccc;
        border-right: solid 1px #ccc;
        outline: none;
        color: #999;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        padding-left: 10px;
        font-size: 16px
    }
    
    .input,
    .login span.icon {
        vertical-align: top
    }
    
    .login span.icon {
        width: 50px;
        transition: all 800ms;
        text-align: center;
        color: #999;
        height: 40px;
        border-radius: 0 3px 3px 0;
        background: #e8e8e8;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        border: solid 1px #ccc;
        border-left: none;
        font-size: 16px
    }
    
    .input:focus:invalid {
        border-color: red
    }
    
    .input:focus:invalid+.icon {
        border-color: red
    }
    
    .input:focus:valid {
        border-color: green
    }
    
    .input:focus:valid+.icon {
        border-color: green
    }
    
    #check {
        top: 1px;
        position: relative
    }
    
    .btn {
        border: none;
        outline: none;
        background: #0099CC;
        border-bottom: solid 4px #006699;
        font-family: 'Ropa Sans', sans-serif;
        margin: 0 auto;
        display: block;
        height: 40px;
        width: 40%;
        padding: 0 10px;
        border-radius: 3px;
        font-size: 16px;
        color: #FFF
    }
</style>

<body>
    <br><br>
    
    <form action="/login" class="login" method="post" align="center">
        <%= render 'shared/error_messages' %>
        <div>
            <ul class="ul-list">
                <li>
                    <input type="email" name="emailId" required="" class="input" placeholder="Your Email">
                </li>
                <li>
                    <input type="password" name="password" required="" class="input" placeholder="Password">
                </li>
                <li>
                    <span class="remember"><input type="checkbox" id="check"> 
                        <label for="check">Remember Me</label>
                    </span>
                    <span class="remember"><a href="">Forgot Password</a></span>
                </li>
                <li>
                    <input type="submit" value="SIGN IN" class="btn">
                </li>
            </ul>
        </div>
    </form>
</body>

</html>
