<h4>Inside Search Course form</h4>

<%= form_tag('/search_course') do -%>
<div class="field">
        <%= search_field_tag 'content', 'Search course by Description' %>
</div>
<div><%= submit_tag 'Search' %></div>
<% end -%>



